// Michael Grace (michael-grace.uk)
html 
    head 
        title The Merry Competition 
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body 
        style(type="text/css"). 
            @import url("/styles.css")
        div(class="container")
            h1(class="title") The Merry Competition 
            div(class="card-deck")
                each person in scores
                    div(class="card")
                        div(class="card-body")
                            h1= person.score 
                        div(class="card-footer")
                            p(class="footer-text")= person.name

